:root {
    /* color-palette setting */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light-gray: #eeeeee;
    --color-dark: #092736;
    --color-darker: #000a12;
    --color-darkgray: #4f5b62;
    --color-blue-main: #2979ff;
    --color-blue-dark: #000051;
    --color-pink-main: #e91e63;
    --color-pink: #f8bbd0;
    --color-pink-light: #ffeeff;


    /* font-size */
    --fontsize-XL: 90px;
    --fontsize-L: 48px;
    --fontsize-M: 28px;
    --fontsize-Regular: 20px;
    --fontsize-S: 18px;
    --fontsize-XS: 14px;

    /* font-weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weihgt-regular: 400;
    --weight-light: 300;
    --weight-thin: 100;

    /* size */
    --size-border-radius: 4px;
}

/* universal tags setting */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}

/* typographies setting */

h1 {
    font-size: var(--fontsize-XL);
    font-weight: var(--weight-bold);
    color: var(--color-dark);
    margin: 16px 0;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
}

h2 {
    font-size: var(--fontsize-M);
    font-weight: var(--weight-semi-bold);
    color: var(--color-darker);
    margin: 8px 0;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
}

h3 {
    font-size: var(--fontsize-Regular);
    font-weight: var(--weihgt-regular);
    color: var(--color-darker);
    margin: 8px 0;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
}

p {
    font-size: var(--fontsize-S);
    font-weight: var(--weihgt-thin);
    color: var(--color-black);
    margin: 4px 0;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
}


/* Navbar  */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding-left: 16px;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-dark);
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid var(--color-dark) ;
}

.navbar__menu__item:hover {
    background-color: var(--color-dark);
    opacity: .5;
    color: var(--color-white);
    transition: background-color .5s ease;
}

.navbar__menu__item a h3:hover {
    color: var(--color-white) !important;
    transition: color .5s ease;
}

.navbar__logo__logo>img {
    height: 60px;
    width: 60px;
}

